
@{
    ViewBag.Title = "Index";
}

<h2>
    Index
</h2>

<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html"> Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div><!-- /breadcrumb-->


    <div class="padding-md">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-success">
                    <h2 class="m-top-none" id="birthDaily">0</h2>
                    <h5 id="birthDailyLabel">Births today</h5>
                    <i class="fa fa-child fa-lg"></i> #People
                    <div class="stat-icon">
                        <i class="fa fa-birthday-cake fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-info">
                    <h2 class="m-top-none" id="birthMonthly">0</h2>
                    <h5 id="birthMonthlyLabel">Births this month</h5>
                    <i class="fa fa-child fa-lg"></i> #People
                    <div class="stat-icon">
                        <i class="fa fa-birthday-cake fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-danger">
                    <h2 class="m-top-none" id="birthAnnually">0</h2>
                    <h5 id="birthYearlyLabel">Births this year</h5>
                    <i class="fa fa-child fa-lg"></i> #People
                    <div class="stat-icon">
                        <i class="fa fa-birthday-cake fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-warning">
                    <h2 class="m-top-none" id="birthOther">0</h2>
                    <h5 id="birthOtherLabel">Births Other Stat</h5>
                    <i class="fa fa-child fa-lg"></i> #People
                    <div class="stat-icon">
                        <i class="fa fa-birthday-cake fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-danger">
                    <h2 class="m-top-none" id="septaDaily">0</h2>
                    <h5 id="septaDailyLabel">SEPTA ridership today</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Transportation
                    <div class="stat-icon">
                        <i class="fa fa-subway fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-success">
                    <h2 class="m-top-none" id="septaMonthly">0</h2>
                    <h5 id="pretzelMonthlyLabel">SEPTA ridership this month</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Transportation
                    <div class="stat-icon">
                        <i class="fa fa-subway fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 bg-warning">
                    <h2 class="m-top-none" id="septaAnnually">0</h2>
                    <h5 id="pretzelYearlyLabel">SEPTA ridership this year</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Transportation
                    <div class="stat-icon">
                        <i class="fa fa-subway fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-info">
                    <h2 class="m-top-none" id="pretzelDaily">0</h2>
                    <h5 id="pretzelDailyLabel">Pretzels eaten today</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Food
                    <div class="stat-icon">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-danger">
                    <h2 class="m-top-none" id="pretzelMonthly">0</h2>
                    <h5 id="pretzelMonthlyLabel">Pretzels eaten this month</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Food
                    <div class="stat-icon">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-warning">
                    <h2 class="m-top-none" id="pretzelAnnually">0</h2>
                    <h5 id="pretzelYearlyLabel">Pretzels eaten this year</h5>
                    <i class="fa fa-exchange fa-lg"></i> #Food
                    <div class="stat-icon">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-success">
                    <h2 class="m-top-none" id="pretzelOther">0</h2>
                    <h5>Pretzels other</h5>
                    <i class="fa fa-cutlery fa-lg"></i> #Food
                    <div class="stat-icon">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>
    </div><!-- /.padding-md -->
</div><!-- /main-container -->

